* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.4;
}
.container {
  height: 100vh;
  background-color: #0e8e60;
  display: grid;
  place-items: center;
}
.flex_container {
  justify-self: end;
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  position: relative;
}
p {
  font-size: 1.2rem;
  align-self: end;
  margin-top: -30px;
}

h1 {
  color: #00b05a;
  font-size: 12rem;
}

h1 span {
  color: #ffe600;
}
sup {
  position: absolute;
  top: -5rem;
  right: -7rem;
  color: #ffe600;
  font-size: 8rem;
}
p {
  color: white;
}
@media (max-width: 960px) {
  h1 {
    font-size: 9rem;
  }
}
@media (max-width: 560px) {
  h1 {
    font-size: 7rem;
  }
  sup {
    position: absolute;
    top: -5rem;
    right: -6.5rem;
    color: #ffe600;
  }
}
