* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.4;
}
.container {
  height: 100vh;
  background-color: #0e8e60;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}
.arrows {
  position: absolute;
  top: 0;
  display: flex;

  right: 1rem;
  transform: rotate(180deg);
  padding: 15px;
}
.arrows svg {
  font-size: 2rem;
  color: #ffe600;
  font-weight: bold;
}
.arrows svg:nth-child(2) {
  margin-left: -20px;
}
.flex_container {
  justify-self: end;
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  position: relative;
}
p {
  font-size: 1.2rem;
  align-self: end;
  margin-top: -30px;
  text-align: right;
  color: white;
  text-transform: capitalize;
}

h1 {
  color: #00b05a;
  text-shadow: 0 0 4px black;
  font-size: 12rem;
}

h1 span {
  color: #ffe600;
}
sup {
  position: absolute;
  top: -5rem;
  right: -7rem;
  color: #ffe600;
  font-size: 8rem;
}

@media (max-width: 960px) {
  h1 {
    font-size: 9rem;
  }
}
@media (max-width: 560px) {
  .flex_container {
    margin-right: 90px;
  }
  h1 {
    font-size: 6rem;
  }
  p {
    margin-top: -20px;
  }
  sup {
    position: absolute;
    top: -4rem;
    right: -5rem;
    font-size: 6rem;
    color: #ffe600;
  }
}
